In [17]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

Experimenting with data preprocessing steps.

In [13]:
df = pd.read_csv('../data/processed/total.csv')
shape_old = df.shape
print(shape_old)
df.head()

(53046, 161)

,GAME_ID,TEAM_ID_A,GAME_DATE_EST,SEASON,TEAM_WINS_A,PTS_for_A,PTS_against_A,FG_PCT_for_A,FG_PCT_against_A,FG3_PCT_for_A,...,PTS_against_prev_20_B,FG_PCT_for_prev_20_B,FG_PCT_against_prev_20_B,FG3_PCT_for_prev_20_B,FG3_PCT_against_prev_20_B,AST_for_prev_20_B,AST_against_prev_20_B,REB_for_prev_20_B,REB_against_prev_20_B,IS_HOME_B
0,20600002,1610612762,2003-10-05,2003,1,90.0,85.0,0.457,0.447,0.143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,20600003,1610612742,2003-10-05,2003,0,85.0,90.0,0.447,0.457,0.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,20600004,1610612763,2003-10-06,2003,1,105.0,94.0,0.494,0.427,0.267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,20600005,1610612749,2003-10-06,2003,0,94.0,105.0,0.427,0.494,0.154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,20600006,1610612765,2003-10-07,2003,0,96.0,100.0,0.391,0.494,0.444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

First, want to remove duplicates and missing values.

In [14]:
df = df.dropna()
print(df.shape)
df = df.drop_duplicates()
shape_new = df.shape
print(df.shape)

(52306, 161)
(52306, 161)

So, appear to be some na values, not many duplicates. Maybe 700 datapoints lost from dropping the na's. Means we following percent of original data:

In [18]:
100 * (shape_old[0] - df.shape[0]) / shape_old[0]

1.3950156467971195

Not too bad, maybe worth revisiting later. 

Moving on, we want to scale our data. This will allow a more robust set of models to easily learn from it. To do this, we must remove date time.

In [24]:
df['GAME_DATE_EST']

64       2004-10-24
65       2004-10-24
66       2004-10-24
67       2004-10-24
68       2004-10-24
            ...
53041    2022-04-13
53042    2022-04-15
53043    2022-04-15
53044    2022-04-15
53045    2022-04-15
Name: GAME_DATE_EST, Length: 52306, dtype: object

In [26]:
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df.drop('GAME_DATE_EST', axis=1))
df_scaled

array([[0.00000000e+00, 9.65517238e-01, 5.26315789e-02, ...,
        4.52380952e-01, 2.19512195e-01, 0.00000000e+00],
       [1.19903701e-08, 8.62068959e-01, 5.26315789e-02, ...,
        2.38095238e-01, 2.19512195e-01, 1.00000000e+00],
       [2.39807403e-08, 3.10344823e-01, 5.26315789e-02, ...,
        2.85714286e-01, 3.41463415e-01, 0.00000000e+00],
       ...,
       [9.99999760e-01, 0.00000000e+00, 9.47368421e-01, ...,
        4.44047619e-01, 4.48780488e-01, 1.00000000e+00],
       [9.99999988e-01, 3.10344823e-01, 9.47368421e-01, ...,
        4.97619048e-01, 3.86585366e-01, 0.00000000e+00],
       [1.00000000e+00, 1.03448272e-01, 9.47368421e-01, ...,
        4.57142857e-01, 5.47560976e-01, 1.00000000e+00]])

Let's check if our model performs on this data.